@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$bg-color: #ffffff;
$block-bg-color: #f5f5f5;

$shadow-color: #ababab;
$progress-bar-color: #ff9800;

$info-button-color: #2e3a8a;
$warning-button-color: #ff3b30;
$accept-button-color: #1ABC9C;

$font-color: #2E2E2E;
$hover-font-color: #4A4A4A;

$font-family: "Noto Sans", sans-serif;
