@use "./main.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// @import "./buttons/buttons.scss";
// @import "./header/header.scss";

* {
   font-family: $font-family;
   font-optical-sizing: auto;
   font-weight: normal;
   font-style: normal;
   color: $font-color;
   font-variation-settings: "wdth" 100;
   box-sizing: border-box;
}

.outdoor-shadow {
   box-shadow: $block-shadow;
}

.inner-shadow {
   box-shadow: $block-inner-shadow;
}

body,
html,
main {
   width: 100%;
   height: 100%;
}

body {
   @include display-flex(column, center, space-between, 0, nowrap);

   @media (width >= 80rem) {
      flex-direction: row;
   }
}

.cards {
   padding-block: 1rem;
   @include display-flex(column, center, flex-start, 5dvh, nowrap);
   width: 100%;
   height: 200px;

   min-height: 100%;

   overflow-y: scroll;

   @media (width >= 48rem) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
   }

   &::-webkit-scrollbar {
      width: 0rem;
   }
}

.bg-block {
   background-color: $block-bg-color;
}

aside {
   box-shadow: -0.19rem -5rem 1rem 0rem rgb(171, 171, 171);
}
