@use "./main.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

// @import "./buttons/buttons.scss";
// @import "./header/header.scss";

* {
   font-family: $font-family;
   font-optical-sizing: auto;
   font-weight: normal;
   font-style: normal;
   font-variation-settings: "wdth" 100;
}

.outdoor-shadow {
   box-shadow: $block-shadow;
}

.inner-shadow {
   box-shadow: $block-inner-shadow;
}

body,
html {
   width: 100%;
   height: 100%;
}

body {
   @include display-flex(column, center, space-between, 0, nowrap);
}
