@use "../main.scss" as *;

.menu {
   @include display-flex(column, center, space-between, 5rem);

   padding-inline: 2%;

   & > *{
      white-space: nowrap;
   }

   @media (width < 80rem){
      display: none;
   }

   &__top, &__center, &__bottom{
      @include display-flex(column, center, space-around, 0rem, nowrap);

      width: 100%;
      height: min-content;

      padding-block: 1rem;
      padding-inline: 1rem;
   }

   &__top{
      border-radius: 0 0 0.94rem 0.94rem;
      gap: 2rem
   }

   &__stats-wrapper{
      @include display-flex(row, center, space-between, 1rem, nowrap);

      width: 100%;
   }

   &__profile-wrapper{
      width: 100%;
      height: min-content;

      @include display-flex(column, flex-start, normal, 0rem, nowrap)
   }

   &__name{
      @include display-flex(row, center, flex-start, 0rem, nowrap);

      & > img{
         width: 1rem;
         height: 1rem
      }
   }

   &__phone-number{
      color: $shadow-color;
      font-size: 12px;
   }

   &__stat {
      @include display-flex(column, flex-start, center, 0.25rem, nowrap);

      padding-inline: 1rem;

      border-radius: 1rem;

      height: 3.5rem;

      @media (width < 40rem) {
         display: none;
      }

      font-size: medium;

      &--inner{
         width: 20%;
         height: 20%;
         
         @include display-flex(row, center, normal, 0.25rem, nowrap)
      }
      &--score{
         width: min-content;
      }


   }
}
